.app-container {
  display: flex;
  height: 100vh;
  background-color: var(--bg-main, #f8fafc);
  transition: background-color 0.3s;
}

.dark-theme-app {
  --bg-main: #0f172a;
}

.main-container {
  flex: 1;
  overflow-y: auto;
}